@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main {
	padding: 0 62px;
}

.header {
	padding: 0 62px;
	background-color: #2196f3;
	display: flex;

	&__link {
		text-decoration: none;
		color: #ffffffb2;
		padding: 23px 18px;

		&:hover {
			color: #ffffff;
		}
	}

	&__link_active {
		color: #ffffff;
		background-color: #1e88e5;
	}
}

.main {
	margin: 0 auto;

	.cats {
		margin-bottom: 30px;

		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 48px;
			align-items: center;
			justify-content: center;
			margin: 48px 0;
		}

		&__loading {
			font-size: 40px;
			color: #2196f3;

			&-more {
				margin-top: 40px;
				font-size: 14px;
				text-align: center;
				
			}
		}

		&__img {
			width: 225px;
			height: 225px;
			object-fit: cover;
		}

		&__item {
			width: 225px;
			height: 225px;
			position: relative;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.1);
				box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
			}
		}

		&__like {
			position: absolute;
			bottom: 7px;
			right: 12px;
			cursor: pointer;
			width: 48px;
			height: 48px;

			&:hover {
				content: url('./assets/favorite_hover.svg');
			}

			&:active {
				content: url('./assets/favorite_click.svg');
			}
		}
	}
}
